/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Roboto&display=swap');

/* Variables */
:root{
	--blue: #5366e4;
	--white: #FFFFFF;
	--gray: #e9eff6;
	--grayDark: #CCCCCC;
}

/* General Styles */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #444444;
	font-family: "Roboto", sans-serif;
}

/* Default Components Styles */
body{
	background: var(--gray);
}

.container{
	width: 96%;
	max-width: 800px;
	margin: 90px auto;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
}